@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    max-width: 69%;
    height: auto;
    margin: auto;
}

.explain {
    font-size: 0.95rem;
    line-height: 1.5em;
    color: #777;
}

.explain::before {
    content: 'comment: ';
}